<ul class="nav nav-tabs nav-justified">
	<li role="presentation"><%=link_to("Home", root_path)%></li>
	<li role="presentation" class="active"><%= link_to("Projects",projects_path)%></li>
	<li role="presentation"><%= link_to("Algorithms",algorithms_path)%></li>
	<li role="presentation"><%= link_to("Contact information",contact_path)%></li>
</ul>

<div class="row project">
	<div class="col-xs-12">
		<h4>Albion Environmental (<a href="https://github.com/franciscojt/albion">Source Code</a>)</h4>
		<ul>
			<li>Created a web app for Albion Environmental which allows delivery of lab reports and data to private and government clients</li>
			<li>App developed using Ruby on Rails, CarrierWave, and MailForm</li>
			<li>Coordinated with two colleagues and a company liaison to deliver the product that met security and performance expectations</li>
		</ul>
		
	</div>

</div>