.size {
    width: 64px;
    height: auto;
    margin: 5% auto;
    padding: 1%;
    vertical-align: top;
}

.font {
    color: black;
}


#codewars {
    display: block;
    margin: auto;
}
.codewar{
    margin-left: 17%;
}