// Place all the styles related to the Portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background{
	background: url("Europa.jpg") no-repeat fixed; 
	background-size: cover;
}
#image {
	width: 250px;
	height: auto;
	margin: 1% auto;
}
.partials{
	border-radius: 10px;
	margin: auto 10% 5%;
	background-color: rgba(255, 255, 255, 0.6);
	padding-bottom: 1%;
}
h1, h2{
	text-shadow: 2px 2px #fff;
	font-weight: bold;
}
h2 {
	margin-bottom: 2%;
}
p, li {
	font-size: 12pt;
}
.active {
	font-weight: bolder;
}